body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 400px;
  border-radius: 10px;
}

img {
  width: 120px;
  border-radius: 50%;
}
.news img {
  width: 100%;
  border-radius: 10px;
}
